@media screen and (min-width:768px) and (max-width:991px){
  
.fonctionning {
  padding-left: 3em;
  padding-right: 3em;
} 

.results { 
  padding: 3em;
}

.menus-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
 

    a {
      display: block;
      width: 48%;
      margin-bottom: 1em;
    }
}

.main-footer {
  .svg {
    width: 30%;
  }
  padding: 2em 3em;
  ul { 
   display: flex;
    li {
      margin-right: 1.5em;
      }
    }
  } 
}